@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,400&display=swap");

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  background-image: url(/src/images/bg-mobile-light.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--veryLightGray);
  transition: background-color 0.2s ease-in;
}

:root {
  --brightBlue: hsl(220, 98%, 61%);
  --checkBackground: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  --veryLightGray: hsl(0, 0%, 98%);
  --veryLightGrayishBlue: hsl(236, 33%, 92%);
  --mainbg: hsl(0, 0%, 100%);
  --lighGrayishBlue: hsl(233, 11%, 84%);
  --darkGrayishBlue: hsl(236, 9%, 61%);
  --veryDarkGrayishBlue: hsl(235, 19%, 35%);
}

form {
  padding-top: 10px;
}

h1 {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  font-size: 30px;
  color: var(--mainbg);
  transition: color 0.2s ease-in;

  padding-top: 8px;
}

h1 button {
  background: none;
  border: none;
  color: var(--mainbg);
  transition: color 0.2s ease-in;
}

.todo-add {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 100%;
}

input::placeholder {
  font-size: 14.5px;
}
input {
  color: var(--veryDarkGrayishBlue);
  transition: color 0.2s ease-in;

  padding-left: 15px;
  font-size: 14.5px;
  width: 240px;
  height: 40px;
  /* border-radius: 2.5px; */
}

.todo-add button {
  width: 28px;
  height: 28px;
  font-size: 13.5px;
  margin-left: 8px;
  border-radius: 50%;
  border: none;
  color: var(--darkGrayishBlue);
  transition: color 0.2s ease-in;
}

.todo {
  display: flex;
  align-items: center;
  width: 93.5%;
  padding: 10px;
  font-size: 14.5px;
  border-bottom: 2px solid var(--lighGrayishBlue);
  color: var(--veryDarkGrayishBlue);
  transition: color 0.2s ease-in;
}
.todo li {
  display: block;
  word-wrap: break-word;
  max-width: 75%;
  height: auto;
  border: 1px;
  cursor: -webkit-grab;
  cursor: grab;
}

.todo-list {
  padding: 10px;
  font-size: 14.5px;
  transition: color 0.2s ease-in;
  display: block;
  word-wrap: break-word;
  max-width: 90%;
}

.todo li:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.sub-items {
  display: flex;
}

.todo:first-child {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.todo:last-child {
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}

/* To do container */

.todo-container {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin: 12px 30px 0px 30px;
  height: 345px;
  overflow: auto;
  background-color: var(--mainbg);
  transition: color 0.2s ease-in;
  border: 1px solid #dfd9d9;
}

.todo-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  display: none;
}

/* To do container */

.complete-btn {
  height: 21.5px;
  width: 20.5px;
  width: auto;
  font-size: 8.6px;
  color: white;

  border-radius: 100%;
  border: 1px solid var(--darkGrayishBlue);
  background-color: white;
  display: inline;
}

button:focus {
  outline: 1px solid rgba(255, 255, 255, 0);
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
  /* background: rgba(255, 255, 255, 0); */
}
.trash-btn {
  justify-self: flex-end;
  height: 23.5px;
  width: 0%;
  font-size: 20px;
  color: var(--darkGrayishBlue);
  transition: color 0.2s ease-in;

  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
  display: inline;
}

.btn-inline {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: var(--veryDarkGrayishBlue);
  transition: color 0.2s ease-in;

  cursor: pointer;
  font-size: 16px;
}

.filter-todo {
  display: grid;
}

.sub-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  font-size: 14px;
  color: var(--veryDarkGrayishBlue);
  transition: color 0.2s ease-in;
  align-items: center;
  height: 19px;
  background-color: var(--mainbg);
  border-top: 2px solid rgb(238, 233, 233);
  margin: 5px 30px 5px 30px;
  border: 1px solid #dfd9d9;
}

.section-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
  font-size: 12px;
  /* margin: 5px 30px 5px 0px; */
}

/*  */
@media only screen and (min-width: 600px) {
  body {
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    background-image: url(/src/images/bg-desktop-light.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--veryLightGray);
  }

  form {
    padding-top: 10px;
  }

  h1 {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    font-size: 30px;
    color: var(--mainbg);
    transition: color 0.2s ease-in;

    padding-top: 8px;
  }

  h1 button {
    background: none;
    border: none;
    color: var(--mainbg);
    transition: color 0.2s ease-in;
  }

  .todo-add {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 100%;
  }

  input::placeholder {
    /* color: blue; */
    font-size: 14.5px;
  }
  input {
    color: var(--veryDarkGrayishBlue);
    transition: color 0.2s ease-in;

    padding-left: 20px;
    font-size: 16.5px;
    width: 470px;
    height: 55px;
    margin-bottom: 10px;

    /* border-radius: 2.5px; */
  }

  .todo-add button {
    width: 28px;
    height: 28px;
    font-size: 13.5px;
    margin-left: 8px;
    border-radius: 50%;
    border: none;
    color: var(--darkGrayishBlue);
    transition: color 0.2s ease-in;
  }

  .todo {
    display: flex;
    align-items: center;
    width: 97.5%;
    padding: 10px;
    font-size: 12.5px;
    border-bottom: 2px solid var(--lighGrayishBlue);
    color: var(--veryDarkGrayishBlue);
    transition: color 0.2s ease-in;
  }
  .todo li {
    display: block;
    word-wrap: break-word;
    font-size: 16px;
    max-width: 86.5%;
    height: auto;
    border: 1px;
  }

  .sub-items {
    display: flex;
  }

  .todo:first-child {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .todo:last-child {
    border-bottom: 2px solid rgba(0, 0, 0, 0);
  }

  /* To do container */
  .shadow-box {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }

  .App {
    display: flex;
    justify-content: center;
  }

  .todo-container {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-right: 120px;
    margin-left: 120px;
    height: 485px;
    width: 590px;
    overflow: auto;
    background-color: var(--mainbg);
    border: 1px solid #dfd9d9;
  }

  .filter-todo {
    display: grid;
    justify-content: center;
  }

  .sub-section {
    display: flex;
    width: 568px;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    font-size: 16px;
    height: 19px;
    color: var(--veryDarkGrayishBlue);
    transition: color 0.2s ease-in;
    background-color: var(--mainbg);
    border-top: 2px solid rgb(238, 233, 233);
    margin: 5px 30px 5px 30px;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  body {
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    background-image: url(/src/images/bg-desktop-light.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-color: var(--veryLightGray);
  }
}
